.filter-section {
  width: 25vw;
  padding-left: 5vw;
  background-color: #121212;
  padding-top: 5vh;
}
.employmentType-filters {
  margin: 0;
  padding: 0;
}
.salaryRange-filters {
  margin: 0;
  padding: 0;
}
.each-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.profile-container {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.name {
  color: #4f46e5;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0;
}
.profile-pic {
  width: 5vw;
}
.bio {
  color: #64748b;
  font-weight: 500;
  font-size: 12px;
  margin-top: 0;
}
.filter-input {
  margin-right: 05px;
  height: 15px;
}
.loader-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.retry-btn {
  text-align: center;
  height: 30px;
  width: 70px;
  background-color: #4f46e5;
  border: 0;
  color: white;
  border-radius: 4px;
}
.profil-seaction {
  height: 17vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
failure-profile-container {
  height: 100%;
  width: 100%;
}
.hr {
  margin-top: 5vh;
}
.filter-title{
  font-size: 20px;
  font-weight: 500;
}
